<%= render partial: 'shared/navigation', locals: { pagination: true } %>

<section class="content">
  <article>
    <div class="date"><%= @page.entry.published_date %></div>

    <%= @page.entry.body_markdown %>
  </article>

  <%= render partial: 'pagination' %>
</section>
