<title>Otto's Diary</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="Otto's Diary - a digitised World War One Diary">
  <meta property="og:image" content="http://ottosdiary.com/fbthumb.jpg"/>
      <meta property="og:title" content="Otto's Diary - A WW1 Memoir" />
      <meta property="og:site_name" content="Otto's Diary" />
      <meta property="og:url" content="http://www.ottosdiary.com" />
      <meta property="og:description"
          content="100 years since he set off for war, Otto Feldmann's diary has been published for the first time, online."/>
      <meta name="twitter:card" content="<%= content_for :twitter_card_type %>">
	  <meta name="twitter:domain" content="ottosdiary.com">
	  <meta name="twitter:title" content="Otto's Diary - Letters She Never Received">
	  <meta name="twitter:description" content="100 years since Otto Feldmann left for War, his diary is published for the first time">
	  <meta name="twitter:image" content="http://ottosdiary.com/twitterthumb.jpg">
<link rel="icon" 
      type="image/ico" 
      href="/favicon.ico">
<script src="//use.typekit.net/wlr2ojg.js"></script>
<script>try{Typekit.load();}catch(e){}</script>
<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<%= csrf_meta_tags %>
