<title>Otto's Diary - The WW1 memoir of Otto Fedmann, an Austro-Hungarian soldier who travelled around the world to get home</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta content="On November 1st 1914, Otto Feldmann set off for the Eastern front as a Czech officer in the Austro-Hungarian army. He left behind a pregnant wife and two daughters. He wouldn't see them again for six years, having been forced to travel around the entire globe to return home. Throughout, he kept a diary, written as a series of letters to his wife, in a carefully hidden notebook. It documents war and captivity; years spent in desolate Russian prisoner-of-­war camps, and protracted journeys spanning the length of the early Trans­-Siberian Railway. To honour his memory and preserve his story, his family have decided to publish the diary for the first time, online, 100 years since he left for war." name="description">
  <meta property="og:image" content="http://www.ottosdiary.com/assets/twitterthumb-1267bb12dd89b36b5d69f94138438e09.jpg"/>
      <meta property="og:title" content="Otto's Diary - Letters She Never Received" />
      <meta property="og:site_name" content="Otto's Diary" />
      <meta property="og:url" content="http://www.ottosdiary.com" />
      <meta property="og:description"
          content="On November 1st 1914, Otto Feldmann set off for the Eastern front as a Czech officer in the Austro-Hungarian army. He left behind a pregnant wife and two daughters. He wouldn't see them again for six years, having been forced to travel around the entire globe to return home."/>
      <meta name="twitter:card" content="photo">
	  <meta name="twitter:domain" content="ottosdiary.com">
	  <meta name="twitter:title" content="Otto's Diary - Letters She Never Received">
	  <meta name="twitter:description" content="100 years since Otto Feldmann left for War, his diary is published for the first time">
	  <meta name="twitter:image" content="http://www.ottosdiary.com/assets/twitterthumb-1267bb12dd89b36b5d69f94138438e09.jpg">
    <link href='http://fonts.googleapis.com/css?family=Miss+Fajardose&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
<link rel="icon"
      type="image/ico"
      href="/favicon.ico">
<script src="//use.typekit.net/wlr2ojg.js"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-55857875-1', 'auto');
  ga('send', 'pageview');

</script>
<script>try{Typekit.load();}catch(e){}</script>
<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<%= csrf_meta_tags %>
