<div class="intro">
  <div class="col-1">
    <h1>Otto's Diary</h1>

    <div class="sub-title"><i>"Letters she never received"</i></div>

    <p>On November 1st 1914, Lieutenant Otto Feldman set off for the Eastern front as a Czech officer in the Austro-Hungarian army. He left behind a pregnant wife and two daughters.</p>

    <p>He wouldn't see them again for six years, having travelled around the entire globe to return home.</p>

    <p>Throughout, he kept a diary, written as a series of letters to his wife, in a carefully hidden mathematical notebook. It documents war and captivity; years spent in desolate Russian prisoner-­of-­war camps; and protracted journeys spanning the length of the early Trans­-Siberian Railway.</p>

    <p>To honour his memory and preserve his story, his family have decided to publish the diary for the first time, online, 100 years since he left for war.</p>

    <div class="channel">
      <%= link_to 'Start reading', entry_path(1), class: 'button start-reading' %>

      <%= link_to 'Who is Otto?', before_the_war_path, class: 'button about-otto' %>
    </div>
  </div>

  <div class="col-2"></div>
</div>
