<%= render partial: 'shared/navigation' %>

<section class="lightbox">
  <div id="lightbox">
    <div id="lightboxpic">
      <%= image_tag('1.jpg') %>
    </div>

    <div id="lightboxcaption">
      <div id="lightboxh2">
        <h2>Otto Feldmann before the War, studying chemistry at Bielitz university, 1902</h2>
      </div>
    </div>

    <div id="lightboxcontrolLeft"></div>

    <div id="lightboxcontrolRight"></div>

    <div class="clear"></div>
  </div>
</section>
