<%= render partial: 'shared/navigation' %>

<section class="lightbox">
  <div id="lightbox">
    <div id="lightboxpic">
      <%= image_tag('otto-after-the-war.jpg', width: 400) %>
    </div>

    <div id="lightboxcaption">
      <div id="lightboxh2">
        <h2>Image 1</h2>
      </div>
    </div>

    <div id="lightboxcontrolLeft"></div>

    <div id="lightboxcontrolRight"></div>

    <div class="clear"></div>
  </div>
</section>
