<% content_for :title do %>After the First World War<% end %>

<% content_for :body do %>
  <%= image_tag('otto-after-the-war.jpg', width: '60%') %>

  <p>Otto finally returned in the Spring of 1920 as a hero, part of the historic <a target="_blank" href="http://en.wikipedia.org/wiki/Czechoslovak_Legion">Czech Legion</a>’s return to the newly formed country of Czechoslovakia. Family life gradually started again.  Otto, Else, and their three children moved between Troppau and Bielitz, where Otto found employment for short periods of time. It was hard to make a living in post-war Czechoslovakia, and his brother Hugo helped to support the family.</p>

  <p>Otto found a new passion in <a target="_blank" href="http://en.wikipedia.org/wiki/Zionism">Zionism</a> - the belief in a homeland for the Jews - and became one of the founders of the HaBoneh movement; a union of engineers and technicians with a vision of aiding the development of a State of Israel in the British mandate of Palestine.</p>

  <p>Eventually Otto found secure work with the Brno branch of <a target="_blank" href="http://en.wikipedia.org/wiki/Gestetner">Gestetner</a>, a pan-European manufacturer of duplicating machines. By transferring Otto to their Tel Aviv office in 1939, the company effectively saved his and Else’s lives – the next six years saw the Holocaust decimate Europe's Jewish community.</p>

  <p>Otto & Else's youngest daughter, Edith, was as passionate as her father.  She became determined to relocate to Palestine as part of the highly idealistic socialist Kibbutz movement: fully communal living, no private property, no private income, full equality for women, and communal care of children.  She fought with her parents until they agreed to her let her go in 1933, six years before they eventually followed her. With her pioneering spirit and altruism, she helped to found and build <a target="_blank" href="http://en.wikipedia.org/wiki/Givat_Haim">Kibbutz Givath Chaim</a> in desert marshland. She married Radius Rath and lived on the Kibbutz for the rest of her long life. She died in 2007 at the age of 96.  Her family all still live in Israel.</p>

  <p>Their son Kurt managed to escape Czechoslovakia just before the outbreak of the Second World War, traveling to England as part of a group of agricultural students. He intended to travel onwards to Palestine to join his sister and parents, but as war swept across Europe this became impossible. He married another Czech refugee, Alice Kohnova, in London in 1942, and spent the rest of his life as a beloved maths teacher and a designer of board games.  He died in 2000 at the age of 84. His family remains in England.</p>

  <div class="imagepack">		
    <%= image_tag('kurtedith.jpg', width: '80%') %>
    <div class="subtitle">Edith Rath (née Feldmn) and Kurt Feldman in 1987 </div>
  </div>

  <p>Otto and Else's eldest daughter Liese’s story is very different.  She married Herbert Langer, the son of one of her father’s closest friends from the POW camps of World War One. The young couple did not believe in the imminent threat to the Jewish community, even moving closer to Germany for Hugo’s work, with their daughter, Bella-Judith. When war broke out in 1939 the family attempted to escape to Palestine to join Liese's parents and sister, and managed to book sea passage from Trieste.  Their belongings arrived at the port ready to be shipped, but the family were captured by the Nazis en route, and were sent to <a href="http://en.wikipedia.org/wiki/Theresienstadt_concentration_camp" target="_blank">Theresienstad concentration camp</a> where they perished. Almost all of Otto and Else's brothers and sisters, and their families, suffered the same fate.</p>

  <div class="imagepack">		
    <%= image_tag('liesefamily.jpg', width: '80%') %>
    <div class="subtitle">Herbert & Liese Langer (née Feldmn) with their daughter Bella-Judith, before their capture in 1939 </div>
  </div>

  <p>Meanwhile, having moved to Palestine, Otto & Else established a home in old Tel Aviv, and Otto remained very active in HaBoneh and other Zionist movements until the end of his life. There is a memorial to him and his colleagues in a forest outside Jerusalem. When Otto died in 1949, Else moved to Kibbutz Givath Chaim to live with Edith and her family.  She was always a quiet, home- loving ‘hausfrau’. But it was from her, and through his love of her, that Otto found his strength. She died on the kibbutz in 1953.</p>

    <div class="imagepack">   
    <%= image_tag('grave.jpg', width: '80%') %>
    <div class="subtitle">Else's grave in Kibbutz Givath Chaim, Israel</div>
  </div>

 <div class="copyrightnotice"><small>&copy; The estate of Otto Feldmann: Monica Lanyado, Tzafrah Shushan and Aya Shochat</small></div>
<% end %>

