<% content_for :title do %>Copyright<% end %>

<% content_for :body do %>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
<% end %>
