<% content_for :title do %>Credits & Copyright<% end %>

<% content_for :body do %>
  <p>All content on this website – copy and images – is copyrighted material belonging to the estate of Otto Feldmann: Monica Lanyado, Tzafrah Shushan and Aya Shochat. <br/></br/>

Please feel free to reproduce excerpts from the diary - but reproduction of more than 100 consecutive words of the diary will be considered in breach of its copyright. For media enquiries, or if you wish to use more than 100 consecutive words of the diary for academic or educational purposes, please contact the copyrightholders at ottosdiary@gmail.com.<br/><br/>

• Wesbite by <a target="_blank" href=”http://www.sevfurneaux.com/”>Sev Furneaux</a> & <a target="_blank" href=”https://twitter.com/benjilanyado”>Benji Lanyado</a> (Otto's great grandson).<br/>
• Translation from German to English by Peter Berger <br/>
• Thanks to Bobbie Johnson for helping us find <a target="_blank" href="https://twitter.com/bobbie/status/521757597737578497">"Nizhne-Vdinsk"</a><br/><br/>

All proceeds from Amazon Kindle downloads will be donated to <a target="_blank" href="http://www.helpforheroes.org.uk/">Help for Heroes</a>. <br/><br/>


</p>
<% end %>
