<% content_for :title do %>Map<% end %>

<% content_for :body do %>

<div id="mapholder">
	<iframe src="https://mapsengine.google.com/map/u/3/embed?mid=zJxL2RhuJQBc.kAzdI1yI3YAA" width="708" height="480"></iframe>
</div>

<% end %>