$font-script: 'bickham-script-pro';
$font-full-caps: 'Cubano';
$font-sans-serif-regular: 'AvenirLTStd-Light';
$font-sans-serif-bold: 'AvenirLT-Black';

$primary: #D50920;
$grey: #D8D8D8;
$light-grey: lighten($grey, 08%);
$dark-grey: darken($grey, 25%);
$nav-background: #F8F8F8;

$mobile: "only screen and (max-width: 767px)";
