<!DOCTYPE html>
<html>
<head>
  <%= render partial: 'shared/header_info' %>
</head>
<body>
  <%= render partial: 'shared/sidebar' %>

  <div class="wrapper">
    <%= yield %>
  </div>
</body>
</html>
